{% extends 'base.html.twig' %}


{% block title %}fiche produit
{% endblock %}


{% block body %}


	{% include("_partials/_header.html.twig") %}



	{# <div class="ms-4 mb-5 mt-4">
		<a href="{{path('')}}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
	</div> #}

	<div class=" text-center containerproduit m-3 p-1">

		<div class="containeraffiche container">

			<img class="w-50 h-50" src="/imagesVins/{{fichecoffret.pathProduct}}" alt="{{fichecoffret.productName}}"/>


			<div class="dropdown mb-3">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					voir plus
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li>
						<a class="dropdown-item" href="#">plus images ...</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">commentaires</a>
					</li>
				</div>


				{# <div class="mb-4">
																	<a class="text-decoration-none" href="{{path('images_produits',{'id':vin.id})}}">voir plus d'images ...</a>
																</div> #}

				<h4>{{fichecoffret.productName}}</h4>

				<p>
					<i class="fa-solid fa-star text-warning"></i>
					{{fichecoffret.productNote}}
				</p>
				<p><img class="drapeau m-2" src="/imagedrapeaux/{{fichecoffret.flagPath}}"/>{{fichecoffret.productArea}}</p>
				<p>{{fichecoffret.cepage}}</p>
				<p class="text-info">{{fichecoffret.productagreement}}</p>
				<p class="producttaste">{{fichecoffret.producttaste}}</p>
				<p>{{fichecoffret.description}}</p>

			</div>


			<div
				class="d-flex flex-column mt-4 p-3 containeraffiche">

				{# <p>{{vin.id}}</p> #}
				<div class="text-start">


					{% if fichecoffret.discount > 0 %}

						{% set remise = fichecoffret.productPrice * ( 1 - fichecoffret.discount / 100)  %}

						<div class="d-flex ">
							<div>
								<h3 class="text-danger">{{ remise }}€</h3>
								<p>La bouteille</p>
							</div>

							<div>
								<h3 class="text-decoration-line-through">{{fichecoffret.productPrice}}€</h3>
							</div>

						</div>

					</div>

				{% else %}

					<div>
						<h3>{{fichecoffret.productPrice}}€</h3>
					</div>

				{% endif %}

				<div class="text-start mt-4">

					{% if fichecoffret.status == 1 %}

						<div class="">
							<form class="d-flex flex-column" action="{{path("cart_add",{'id':fichecoffret.id})}}" method="POST">
								<input type="number" name="quantity" class="mb-3"/>

								<button class="btnaddcart" type="submit">
									ajouter au panier</button>
							</form>
						</div>

						<div class="mt-3">
							<p class="text-success fw-bold text-uppercase">En stock</p>
						</div>

					{% else %}

						<div class="d-flex flex-column">

							<input type="number" class="mb-3">
							<a class="btnaddcart btn btn disabled" href="{{path('add',{'id':vin.id})}}">ajouter au panier</a</div>

							<p class="text-danger fw-bold">Temporairement en Rupture</p>

						{% endif %}

					</div>

				</div>
			</div>
		</div>

	{% endblock %}
